<nav class="navbar navbar-dark sticky-top bg-info flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">
    SmartParking
  </a>
  <input class="form-control form-control-dark w-100 form-control-sm" type="text" placeholder="<%= t :parking_search %>" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <button type="button" class="btn btn-sm btn-info" data-toggle="offcanvas" data-target="#sidebar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </li>
  </ul>
</nav>


<!-- Боковое меню -->
<nav id="sidebar" class="navmenu navmenu-inverse navmenu-fixed-right offcanvas" role="navigation">
  <div class="container text-light py-3 h-100">
    <table class="h-100 w-100 text-center">
      <tr><td class="align-top">

        <% if user_signed_in? %>
          <span>Здравствуйте, <%= current_user.email %></span>
          <%= link_to t(:logout), destroy_user_session_path, :method => :delete, :class => 'btn btn-light'%>
        <% else %>
          <%= link_to t(:login), new_user_session_path, :class => 'btn btn-info btn-sm' %>
          <%= link_to t(:sign_up), new_user_registration_path, :class => 'btn btn-outline-info btn-sm' %>
        <% end %>
        <hr class="hr-sidebar">
      </td></tr>
      <tr><td class="align-bottom">
        <%= link_to t(:owners_parking), '#', :class => 'text-secondary btn btn-link btn-xs' %>
        <hr class="hr-sidebar">

        <div class="btn-group dropup">
          <button class="btn btn-dark dropdown-toggle btn-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t :language %>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="?locale=en">English</a>
            <a class="dropdown-item" href="?locale=ru">Русский</a>
          </div>
        </div>
        <div style="height: 40px"></div> <!-- FIXME: Это костыль -->
      </td></tr>
    </table>
  </div>
</nav>


<div class="canvas">
  <!-- Основное содержимое веб-страницы -->
  <div id="map"></div>
  <script>
      function initMap() {
          var uluru = {lat: 55.753286, lng: 37.618567};
          var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 10,
              center: uluru
          });
          var marker = new google.maps.Marker({
              position: uluru,
              map: map
          });
      }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.configuration.google_maps_api %>=initMap"
          async defer></script>
</div>

