<%= bootstrap_form_with(model: [parking_place, order], local: true) do |form| %>
  <%= render 'components/form_errors', resource: parking_place %>

  <h5><b><%= t :parking_place %>:</b> <%= parking_place.title %></h5>

  <% if parking_place.for_disabled %><p class="text-info"><%= t :for_disabled %></p><% end %>

  <% unless parking_place.parking.start_time.nil? %>
    <p><b><%= t :working_hours %>:</b> <%= parking_place.parking.start_time %> — <%= parking_place.parking.end_time %>
  <% end %>

  <% unless parking_place.parking.description.empty? %>
    <p>
      <b><%= t :description %></b>:
      <br><%= parking_place.parking.description %>
    </p>
  <% end %>

  <h6><strong><%= t :cost_per_hour %>:</strong> <%= parking_place.parking.cost %> <%= t :currency %></h6>

  <%= form.select :booked_time, [
      ["15 #{t :min}", 15 * 60],
      ["20 #{t :min}", 20 * 60],
      ["30 #{t :min}", 30 * 60],
      ["40 #{t :min}", 40 * 60],
      ["45 #{t :min}", 45 * 60],
      ["1 #{t :hour}", 1 * 60 * 60],
      ["1 #{t :hour} 15 #{t :min}", 1 * 60 * 60 + 15 * 60],
      ["1 #{t :hour} 30 #{t :min}", 1 * 60 * 60 + 30 * 60],
      ["1 #{t :hour} 45 #{t :min}", 1 * 60 * 60 + 45 * 60],
      ["2 #{t :hour}", 2 * 60 * 60],
      ["2 #{t :hour} 30 #{t :min}", 2 * 60 * 60 + 30 * 60],
      ["3 #{t :hour}", 3 * 60 * 60],
      ["3 #{t :hour} 30 #{t :min}", 3 * 60 * 60 + 30 * 60],
      ["4 #{t :hour}", 4 * 60 * 60],
      ["5 #{t :hour}", 5 * 60 * 60],
      ["6 #{t :hour}", 6 * 60 * 60],
      ["8 #{t :hour}", 8 * 60 * 60],
      ["10 #{t :hour}", 10 * 60 * 60],
      ["12 #{t :hour}", 12 * 60 * 60],
      ["24 #{t :hour}", 24 * 60 * 60],
      ["48 #{t :hour}", 48 * 60 * 60],
      ["72 #{t :hour}", 72 * 60 * 60]
  ], label: t(:booked_time), required: true %>

  <div id="map"></div>
  <script>
      let map;

      function initMap() {
          map = new ParkingPlaceMap(
              document.getElementById('map'), {lat: <%= parking_place.coord.x %>, lng: <%= parking_place.coord.y %>},
              [<%= parking_place.parking.area.coordinates[0].map { |coord| "{lat: #{coord.first}, lng: #{coord.last}}" }.join(', ') %>],
              true
          );
      }
  </script>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.configuration.google_maps_api %>&callback=initMap">
  </script>

  <%= form.submit t(:book), class: 'btn-primary btn-lg mt-3' %>
<% end %>
