<%= bootstrap_form_with(model: [parking_place, order], local: true) do |form| %>
  <%= render 'components/form_errors', resource: parking_place %>

  <h5><b><%= t :parking_place %>:</b> <%= parking_place.title %></h5>

  <% if parking_place.for_disabled %><p class="text-info"><%= t :for_disabled %></p><% end %>

  <% unless parking_place.parking.start_time.nil? %>
    <p><b><%= t :working_hours %>:</b>
      <%= parking_place.parking.start_time.strftime("%R") %> — <%= parking_place.parking.end_time.strftime("%R") %>
    </p>
  <% end %>

  <% unless parking_place.parking.description.empty? %>
    <p>
      <b><%= t :description %></b>:
      <br><%= parking_place.parking.description %>
    </p>
  <% end %>

  <h6><strong><%= t :cost_per_hour %>:</strong> <%= '%.2f' % parking_place.parking.cost %> <%= t :currency %></h6>

  <%= form.select :booked_time, [
      ["1 #{t :min}", 1.minute],
      ["15 #{t :min}", 15.minute],
      ["20 #{t :min}", 20.minute],
      ["30 #{t :min}", 30.minute],
      ["40 #{t :min}", 40.minute],
      ["45 #{t :min}", 45.minute],
      ["1 #{t :hour}", 1.hour],
      ["1 #{t :hour} 15 #{t :min}", 1.hour + 15.minute],
      ["1 #{t :hour} 30 #{t :min}", 1.hour + 30.minute],
      ["1 #{t :hour} 45 #{t :min}", 1.hour + 45.minute],
      ["2 #{t :hour}", 2.hour],
      ["2 #{t :hour} 30 #{t :min}", 2.hour + 30.minute],
      ["3 #{t :hour}", 3.hour],
      ["3 #{t :hour} 30 #{t :min}", 3.hour + 30.minute],
      ["4 #{t :hour}", 4 .hour],
      ["5 #{t :hour}", 5.hour],
      ["6 #{t :hour}", 6.hour],
      ["8 #{t :hour}", 8.hour],
      ["10 #{t :hour}", 10.hour],
      ["12 #{t :hour}", 12.hour],
      ["24 #{t :hour}", 24.hour],
      ["48 #{t :hour}", 48.hour],
      ["72 #{t :hour}", 72.hour]
  ], label: t(:booked_time), required: true %>

  <div id="map"></div>
  <script>
      let map;

      function initMap() {
          map = new ParkingPlaceMap(
              document.getElementById('map'), {lat: <%= parking_place.coord.x %>, lng: <%= parking_place.coord.y %>},
              [<%= parking_place.parking.area.coordinates[0].map { |coord| "{lat: #{coord.first}, lng: #{coord.last}}" }.join(', ') %>],
              false
          );
      }
  </script>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.configuration.google_maps_api %>&callback=initMap">
  </script>

  <%= form.submit t(:book), class: 'btn-primary btn-lg mt-3' %>
<% end %>
