<h1><%= t :orders %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t :order_id %></th>
      <th><%= t :created_at %></th>
      <th><%= t :parking_place %></th>
      <th><%= t :booking_time %></th>
      <th><%= t :cost %></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.id, order %></td>
        <td><%= order.created_at %></td>
        <td>
          <b><%= t :parking %>:</b> <%= order.parking_place.parking.title %><br>
          <b><%= t :parking_place %> №</b> <%= order.parking_place.title %>
        </td>
        <td><%= order.booked_time / 1.minute %> <%= t :min %></td>
        <td><%= order.cost %> <%= t :currency %></td>
      </tr>
    <% end %>
  </tbody>
</table>
