<h1 class="mb-3"><%= t :payment %></h1>
<h4 class="mb-3"><b><%= t :amount_to_pay %>:</b> <%= '%.2f' % @order.cost %> <%= t :currency %></h4>
<%= bootstrap_form_with(model: [@parking_place, @order], local: true) do |f| %>
  <%= render 'components/form_errors', resource: @order %>

  <%= f.hidden_field :booked_time %>
  <%= f.number_field :payment, label: t(:enter_amount), required: true %>
  <%= f.submit t(:pay), class: 'btn-primary btn-lg mt-3' %>
<% end %>
<%= link_to t(:cancel), root_path %>
