<h1><%= t :order %> № <%= @order.id %></h1>
<p>
  <strong><%= t :user %>:</strong>
  <%= @order.user.full_name %>
</p>

<p>
  <strong><%= t :created_at %>:</strong>
  <%= @order.created_at %>
</p>

<p>
  <strong><%= t :parking_place %>:</strong> <%= @order.parking_place.title %>
  <br>
  <strong><%= t :parking %>:</strong> <%= @order.parking_place.parking.title %>
  <br>
  <% unless @order.parking_place.parking.description.empty? %>
    <strong><%= t :description %>:</strong>
    <br>
    <%= @order.parking_place.parking.description %>
  <% end %>
</p>

<p>
  <strong><%= t :booking_time %>:</strong>
  <%= @order.booked_time / 1.minute %> <%= t :min %>
</p>

<p>
  <strong><%= t :amount_to_pay %>:</strong> <%= @order.cost %>
  <br>
  <strong><%= t :entered_amount %>:</strong> <%= @order.payment %>
  <br>
  <strong><%= t :change %>:</strong> <%= @order.payment - @order.cost %>
</p>

<div id="map"></div>
<script>
    let map;

    function initMap() {
        map = new ParkingPlaceMap(
            document.getElementById('map'), {lat: <%= @order.parking_place.coord.x %>, lng: <%= @order.parking_place.coord.y %>},
            [<%= @order.parking_place.parking.area.coordinates[0].map { |coord| "{lat: #{coord.first}, lng: #{coord.last}}" }.join(', ') %>],
            false
        );
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.configuration.google_maps_api %>&callback=initMap">
</script>

<br>
<%= link_to t(:back), root_path %>
