<h1><%= t :order %> № <%= @order.id %></h1>
<p>
  <strong><%= t :user %>:</strong>
  <%= @order.user.full_name %>
</p>

<p>
  <strong><%= t :parking_place %>:</strong>
  <%= link_to @order.parking_place.title, @order.parking_place %>
</p>

<p>
  <strong><%= t :amount_to_pay %>:</strong>
  <%= @order.cost %>
</p>

<p>
  <strong><%= t :entered_amount %>:</strong>
  <%= @order.payment %>
</p>

<p>
  <strong><%= t :change %>:</strong>
  <%= @order.payment - @order.cost %>
</p>

<%= link_to t(:back), root_path %>
