<h1><%= t :orders %></h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t :order_id %></th>
    <th><%= t :created_at %></th>
    <th><%= t :user %></th>
    <th><%= t :parking_place %></th>
    <th><%= t :booking_time %></th>
    <th><%= t :cost %></th>
    <th><%= t :entered_amount %></th>
    <th><%= t :change %></th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.created_at %></td>
      <td>
        <% if order.payment_terminal? %>
          <span class="text-info"><%= t :payment_terminal %></span>
        <% else %>
          <%= order.user.full_name %>
        <% end %>
      </td>
      <td>
        <a href="<%= parking_path order.parking_place.parking %>">
          <b><%= t :parking %>:</b> <%= order.parking_place.parking.title %><br></a>
        <a href="<%= parking_place_path order.parking_place %>">
          <b><%= t :parking_place %> №</b> <%= order.parking_place.title %></a>
      </td>
      <td><%= order.booked_time %> <%= t :min %></td>
      <td><%= order.cost %> <%= t :currency %></td>
      <td><%= order.payment %> <%= t :currency %></td>
      <td><%= order.payment - order.cost %> <%= t :currency %></td>
    </tr>
  <% end %>
  </tbody>
</table>