<p id="notice"><%= notice %></p>

<h1>Sensors</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>User</th>
      <th>Sampling period</th>
      <th>Sending period</th>
      <th>Day cast</th>
      <th>Night cast</th>
      <th>Day start time</th>
      <th>Night start time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sensors.each do |sensor| %>
      <tr>
        <td><%= sensor.id %></td>
        <td><%= sensor.user %></td>
        <td><%= sensor.sampling_period %></td>
        <td><%= sensor.sending_period %></td>
        <td><%= sensor.day_cast %></td>
        <td><%= sensor.night_cast %></td>
        <td><%= sensor.day_start_time %></td>
        <td><%= sensor.night_start_time %></td>
        <td><%= link_to 'Show', sensor %></td>
        <td><%= link_to 'Edit', edit_sensor_path(sensor) %></td>
        <td><%= link_to 'Destroy', sensor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sensor', new_sensor_path %>
