<%= render 'components/header', title: t(:sensors) + ':' do %>
  <%= link_to t(:new_sensor), sensors_path, method: :post, class: 'btn btn-sm btn-outline-secondary' %>
<% end %>

<% unless @sensors.empty? %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th><%= t :sampling_period %></th>
      <th><%= t :sending_period %></th>
      <th><%= t :day_cast %></th>
      <th><%= t :night_cast %></th>
      <th><%= t :day_tariff_start_time %></th>
      <th><%= t :night_tariff_start_time %></th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @sensors.each do |sensor| %>
      <tr>
        <td><b><%= sensor.id %></b></td>
        <td><%= sensor.sampling_period %> <%= t :ms %></td>
        <td><%= sensor.sending_period %> <%= t :ms %></td>
        <td><%= sensor.day_cast %></td>
        <td><%= sensor.night_cast %></td>
        <td><%= sensor.get_day_start_time.strftime "%R" %></td>
        <td><%= sensor.get_night_start_time.strftime "%R" %></td>
        <td><%= link_to t(:edit), edit_sensor_path(sensor) %></td>
        <td><%= link_to t(:destroy), sensor, method: :delete, data: { confirm: t(:confirm) } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
