<%= render 'components/header', title: "<b>#{t(:sensor)}:</b> ##{@sensor.id}" do %>
  <%= link_to t(:edit), edit_sensor_path(@sensor), class: 'btn btn-sm btn-outline-secondary' %>
<% end %>
<p>
  <strong><%= t :sampling_period %>:</strong>
  <%= @sensor.sampling_period %>
  <br>
  <strong><%= t :sending_period %>:</strong>
  <%= @sensor.sending_period %>
</p>

<p>
  <strong><%= t :day_cast %>:</strong>
  <%= @sensor.day_cast %>
  <br>
  <strong><%= t :night_cast %>:</strong>
  <%= @sensor.night_cast %>
</p>

<p>
  <strong><%= t :day_tariff_start_time %>:</strong>
  <%= @sensor.get_day_start_time.strftime "%R" %>
  <br>
  <strong><%= t :night_tariff_start_time %>:</strong>
  <%= @sensor.get_night_start_time.strftime "%R" %>
</p>

<%= link_to 'Back', sensors_path %>
