<%= render 'components/header', title: "<b>#{t(:sensor)}:</b> ##{@sensor.id}" do %>
  <%= link_to edit_sensor_path(@sensor), class: 'btn btn-sm btn-outline-secondary mx-1' do %>
    <%= material_icon.edit.css_class('feather md-16') %> <%= t(:edit) %>
  <% end %>
  <%= link_to sensor_path(@sensor), method: :delete, class: 'btn btn-sm btn-outline-danger',
              data: {confirm: t(:confirm)} do %>
    <%= material_icon.delete.css_class('feather md-16') %> <%= t(:remove) %>
  <% end %>
<% end %>
<p>
  <strong><%= t :sampling_period %>:</strong>
  <%= @sensor.sampling_period %>
  <br>
  <strong><%= t :sending_period %>:</strong>
  <%= @sensor.sending_period %>
</p>

<p>
  <strong><%= t :day_cost %>:</strong>
  <%= @sensor.day_cost %>
  <br>
  <strong><%= t :night_cost %>:</strong>
  <%= @sensor.night_cost %>
</p>

<p>
  <strong><%= t :day_tariff_start_time %>:</strong>
  <%= @sensor.get_day_start_time.strftime "%R" %>
  <br>
  <strong><%= t :night_tariff_start_time %>:</strong>
  <%= @sensor.get_night_start_time.strftime "%R" %>
</p>

<%= link_to 'Back', sensors_path %>
