<%= bootstrap_form_with(model: parking, local: true, html: {onsubmit: 'setAreaField(); return true;'}) do |form| %>
  <%= render 'components/form_errors', resource: parking %>

  <%= form.text_field :title, label: t(:title), required: true %>
  <%= form.text_area :description, label: t(:description) %>
  <%= form.number_field :cost, label: t(:cost) %>
  <%= form.time_field :start_time, label: t(:start_time) %>
  <%= form.time_field :end_time, label: t(:end_time) %>

  <%= form.hidden_field :area %>
  <div class="card">
    <div class="card-header"><%= t :parking_space %></div>
    <div class="card-body">
      <button type="button" class="btn btn-outline-danger mb-2" onclick="removePolygonPoint()"><%= t :remove_vertex %></button>

      <div id="map"></div>
      <script>
          function initMap() {
              initParkingAreaEditingMap([
                  <%= parking.area.coordinates[0].map { |coord| "{lat: #{coord.first}, lng: #{coord.last}}" }.join(', ') unless parking.area.nil? %>
              ]);
          }
      </script>
      <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4A1KSLL-dVMvi9XwJOC0Br5-0Re9ahf4&callback=initMap">
      </script>
    </div>
  </div>


  <%= form.submit class: 'btn btn-secondary mt-3' %>
<% end %>
