<%= render 'components/header', title: "<b>#{t(:parking)}:</b> #{@parking.title}" do %>
  <%= link_to t(:edit), edit_parking_path(@parking), class: 'btn btn-sm btn-outline-secondary' %>
<% end %>


<p>
  <strong><%= t :description %>:</strong>
  <%= @parking.description %>
</p>

<p>
  <strong><%= t :cost %>:</strong>
  <%= @parking.cost %>
</p>

<p>
  <strong><%= t :working_hours %>:</strong>
  <% if @parking.start_time.nil? %>
    —
  <% else %>
    <%= @parking.start_time.strftime("%R") %> — <%= @parking.end_time.strftime("%R") %>
  <% end %>
</p>

<div id="map" class="mb-4"></div>
<script>
    function initMap() {
        initParkingAreaMap([
            <%= @parking.area.coordinates[0].map { |coord| "{lat: #{coord.first}, lng: #{coord.last}}" }.join(', ') unless @parking.area.nil? %>
        ], false);
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4A1KSLL-dVMvi9XwJOC0Br5-0Re9ahf4&callback=initMap">
</script>


<%= link_to t(:back), parkings_path %>
