<%= render 'components/header', title: "<b>#{t(:parking)}:</b> #{@parking.title}" do %>
  <%= link_to t(:edit), edit_parking_path(@parking), class: 'btn btn-sm btn-outline-secondary' %>
<% end %>


<p>
  <strong><%= t :description %>:</strong>
  <%= @parking.description %>
</p>

<p>
  <strong><%= t :cost %>:</strong>
  <%= @parking.cost %>
</p>

<p>
  <strong><%= t :working_hours %>:</strong>
  <% if @parking.start_time.nil? %>
    —
  <% else %>
    <%= @parking.start_time.strftime("%R") %> — <%= @parking.end_time.strftime("%R") %>
  <% end %>
</p>

<p>
  <strong>Area:</strong>
  <%= @parking.area %>
</p>


<%= link_to t(:back), parkings_path %>
