<%= render 'components/header', title: "<b>#{t(:parking)}:</b> #{@parking.title}" do %>
  <%= link_to t(:edit), edit_parking_path(@parking), class: 'btn btn-sm btn-outline-secondary' %>
<% end %>


<p>
  <strong><%= t :description %>:</strong>
  <%= @parking.description %>
</p>

<p>
  <strong><%= t :cost %>:</strong>
  <%= @parking.cost %>
</p>

<p>
  <strong><%= t :working_hours %>:</strong>
  <% if @parking.start_time.nil? %>
    —
  <% else %>
    <%= @parking.start_time.strftime("%R") %> — <%= @parking.end_time.strftime("%R") %>
  <% end %>
</p>

<div id="map" class="mb-4"></div>
<script>
    function initMap() {
        initParkingAreaMap([
            <%= @parking.area.coordinates[0].map { |coord| "{lat: #{coord.first}, lng: #{coord.last}}" }.join(', ') unless @parking.area.nil? %>
        ]);
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4A1KSLL-dVMvi9XwJOC0Br5-0Re9ahf4&callback=initMap">
</script>

<%= render 'components/header', title: t(:parking_places) + ':', header_tag: 'h3' do %>
  <%= link_to t(:add), new_parking_parking_place_path(@parking), class: 'btn btn-outline-success btn-sm' %>
<% end %>
<% if @parking.parking_places.any? %>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th><%= t :sensor_id %></th>
      <th><%= t :title %></th>
      <th><%= t :coords %></th>
      <th><%= t :for_disabled %></th>
      <th><%= t :can_book %></th>
      <th><%= t :booked %></th>
      <th><%= t :free %></th>
      <th><%= t :link %></th>
    </tr>
    </thead>

    <tbody>
    <% @parking.parking_places.each do |place| %>
      <tr onclick="window.location.href='<%= parking_place_path(place) %>'; return false">
        <td><b><%= place.id %></b></td>
        <td><%= link_to place.sensor.id, place.sensor %></td>
        <td><%= place.title %></td>
        <td><%= place.coord.x %> <%= place.coord.y %></td>
        <td><%= raw place.for_disabled ? '<span class="text-info">+</span>' : '—' %></td>
        <td><%= raw place.can_book ? '<span class="text-success">+</span>' : '<span class="text-danger">—</span>' %></td>
        <td><%= raw place.booked ? '<span class="text-danger">+</span>' : '<span class="text-success">—</span>' %></td>
        <td><%= raw place.free ? '<span class="text-success">+</span>' : '<span class="text-danger">—</span>' %></td>
        <td><%= raw place.connected ? '<span class="text-success">Online</span>' : '<span class="text-danger">Offline</span>' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>


<br>
<%= link_to t(:back), parkings_path %>
