<p id="notice"><%= notice %></p>

<h3>
  <strong>Title:</strong>
  <%= @parking.title %>
</h3>

<p>
  <strong>Description:</strong>
  <%= @parking.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @parking.cost %>
</p>

<p>
  <strong><%= t :working_hours %>:</strong>
  <% if @parking.start_time.nil? %>
    —
  <% else %>
    <%= @parking.start_time.strftime("%R") %> — <%= @parking.end_time.strftime("%R") %>
  <% end %>
</p>

<p>
  <strong>Area:</strong>
  <%= @parking.area %>
</p>


<%= link_to 'Edit', edit_parking_path(@parking) %> |
<%= link_to 'Back', parkings_path %>
