<!DOCTYPE html>
<html>
  <head>
    <title>SmartParkingWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller] %>
  </head>

  <body>
    <%= yield %>

    <%= render 'components/alerts' %>
  </body>
</html>
