<!DOCTYPE html>
<html>
  <head>
    <title>SmartParkingWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <div class="fixed-bottom w-100">
      <div id="alerts" class="col-8">
        <% if alert %>
          <%= render partial: 'components/alert', locals: { msg: alert, color: 'danger' } %>
        <% elsif notice %>
          <%= render partial: 'components/alert', locals: { msg: notice, color: 'info' } %>
        <% end %>
      </div>
    </div>
  </body>
</html>
