<html lang="en" class="mdl-js">
<head>
  <title>SmartParkingWeb - <%= t :control_panel %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag params[:controller] %>
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">SmartParking</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <%= link_to t(:logout), destroy_user_session_path, :method => :delete, :class => 'nav-link'%>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="<%= control_panel_main_path %>">
              <%= material_icon.dashboard.md_18.css_class('feather') %>
              <%= t :dashboard %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <%= material_icon.assignment.md_18.css_class('feather') %>
              <%= t :orders %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= sensors_path %>">
              <%= material_icon.developer_board.md_18.css_class('feather') %>
              <%= t :sensors %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= parkings_path %>">
              <%= material_icon.local_parking.md_18.css_class('feather') %>
              <%= t :parkings %>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <%= yield %>

      <div class="fixed-bottom w-100">
        <div id="alerts" class="col-8">
          <% if alert %>
            <%= render partial: 'components/alert', locals: { msg: alert, color: 'danger' } %>
          <% elsif notice %>
            <%= render partial: 'components/alert', locals: { msg: notice, color: 'info' } %>
          <% end %>
        </div>
      </div>
    </main>
  </div>
</div>
</body>
</html>
