<%= render 'components/header', title: "#{t(:parking_place)} № <b>#{@parking_place.place_id}</b>" do %>
  <%= link_to t(:edit), edit_parking_place_path(@parking_place), class: 'btn btn-sm btn-outline-secondary' %>
<% end %>

<h4>
  <strong><%= t :title %>:</strong>
  <%= @parking_place.title %>
</h4>

<p>
  <strong><%= t :sensor_id %>:</strong>
  <%= link_to @parking_place.sensor.id, @parking_place.sensor %>
</p>

<p>
  <strong><%= t :for_disabled %>:</strong>
  <% if @parking_place.for_disabled %>
    <span class="text-info"><%= t :yes_%></span>
  <% else %>
    <%= t :no_ %>
  <% end %>
</p>

<p>
  <strong><%= t :can_book %>:</strong>
  <% if @parking_place.can_book %>
    <span class="text-success"><%= t :yes_%></span>
  <% else %>
    <span class="text-danger"><%= t :no_%></span>
  <% end %>
</p>


<p>
  <strong><%= t :booked %>:</strong>
  <% if @parking_place.booked %>
    <span class="text-danger"><%= t :yes_%></span>
  <% else %>
    <span class="text-success"><%= t :no_%></span>
  <% end %>
  <br>

  <strong><%= t :free %>:</strong>
  <% if @parking_place.free %>
    <span class="text-success"><%= t :yes_%></span>
  <% else %>
    <span class="text-danger"><%= t :no_%></span>
  <% end %>
  <br>

  <strong><%= t :link %>:</strong>
  <% if @parking_place.connected %>
    <span class="text-success">Online</span>
  <% else %>
    <span class="text-danger">Offline</span>
  <% end %>
</p>


<div id="map" class="mb-3"></div>
<script>
    function initMap() {
        new ParkingPlaceMap(
            document.getElementById('map'), <%= "{lat: #{@parking_place.coord.x}, lng: #{@parking_place.coord.y}}" %>,
            [<%= @parking_place.parking.area.coordinates[0].map { |coord| "{lat: #{coord.first}, lng: #{coord.last}}" }.join(', ') %>],
            false
        );
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.configuration.google_maps_api %>&callback=initMap">
</script>


<%= link_to t(:back), parking_path(@parking_place.parking) %>
