<%= render 'components/header', title: "#{t(:parking_place)} №#{@parking_place.place_id}" do %>
  <%= link_to t(:edit), edit_parking_place_path(@parking_place), class: 'btn btn-sm btn-outline-secondary' %>
<% end %>

<h4>
  <strong><%= t :title %>:</strong>
  <%= @parking_place.title %>
</h4>

<p>
  <strong><%= t :sensor_id %>:</strong>
  <%= link_to @parking_place.sensor.id, @parking_place.sensor %>
</p>

<p>
  <strong><%= t :for_disabled %>:</strong>
  <%= @parking_place.for_disabled %>
</p>

<p>
  <strong>Can book:</strong>
  <%= @parking_place.can_book %>
</p>


<p>
  <strong><%= t :booked %>:</strong>
  <%= raw @parking_place.booked ? "<span class=\"text-danger\">#{t :yes_}</span>" : "<span class=\"text-success\">#{t :no_}</span>" %>
  <br>
  <strong><%= t :free %>:</strong>
  <%= raw @parking_place.free ? "<span class=\"text-success\">#{t :yes_}</span>" : "<span class=\"text-danger\">#{t :no_}</span>" %>
  <br>
  <strong><%= t :link %>:</strong>
  <%= raw @parking_place.connected ? '<span class="text-success">Online</span>' : '<span class="text-danger">Offline</span>' %>
</p>


<div id="map"></div>
<script>
    function initMap() {
        initParkingPlaceMap(<%= "{lat: #{@parking_place.coord.x}, lng: #{@parking_place.coord.y}}" %>,
            [<%= @parking_place.parking.area.coordinates[0].map { |coord| "{lat: #{coord.first}, lng: #{coord.last}}" }.join(', ') %>],
            false
        );
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4A1KSLL-dVMvi9XwJOC0Br5-0Re9ahf4&callback=initMap">
</script>


<%= link_to 'Back', parking_path(@parking_place.parking) %>
